@model MiniTickerPartialViewModel

@{
    var symbols = MiniTickerPartialViewModel.Symbols;
    var modelSymbol = Model.Symbol;

    if (MiniTickerPartialViewModel.Prices.Count == 0)
    {
        foreach (var symbol in symbols)
        {
            MiniTickerPartialViewModel.Prices.Add(symbol, 0);
        }
    }

    if (MiniTickerPartialViewModel.LastChanges.Count == 0)
    {
        foreach (var symbol in symbols)
        {
            MiniTickerPartialViewModel.LastChanges.Add(symbol, 0);
        }
    }

    var lastChange = MiniTickerPartialViewModel.LastChanges[modelSymbol];
    var cssClass = "bg-warning";

    if (lastChange > 0)
    {
        cssClass = "bg-success";
    }
    else if (lastChange < 0)
    {
        cssClass = "bg-danger";
    }

    var tickerDivId = "TickerDiv" + modelSymbol;
    var priceH4Id = "PriceH4" + modelSymbol;
    var changeSpanId = "ChangeSpan" + modelSymbol;
    var caretSpanId = "CaretSpan" + modelSymbol;
}

<div id="@tickerDivId" class="card text-white mb-3 @cssClass" style="max-width: 20rem;">
    <div class="card-header">@modelSymbol</div>
    <div class="card-body">
        <h4 id="@priceH4Id" class="card-title">$@MiniTickerPartialViewModel.Prices[modelSymbol]</h4>

        <p class="card-text">        
            <span id="@caretSpanId">
            
            @if (lastChange > 0)
            {
                <i class="fa fa-caret-up" aria-hidden="true"></i>
            }
            else if (lastChange < 0)
            {
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            }
            
            </span> 
            
            <span id="@changeSpanId">
                @Math.Abs(lastChange)
            </span> 
    </div>
</div>