@model MiniTickerPartialViewModel

@{
    var symbols = Security.NamesAndSymbols.Keys;
    var modelSymbol = Model.Symbol;

    if (MiniTickerPartialViewModel.Prices.Count == 0)
    {
        foreach (var symbol in symbols)
        {
            MiniTickerPartialViewModel.Prices.Add(symbol, 0);
        }
    }

    if (MiniTickerPartialViewModel.LastChanges.Count == 0)
    {
        foreach (var symbol in symbols)
        {
            MiniTickerPartialViewModel.LastChanges.Add(symbol, 0);
        }
    }

    var lastChange = MiniTickerPartialViewModel.LastChanges[modelSymbol];
    var cssClass = "bg-warning";
    var change = lastChange.ToString();

    if (lastChange > 0)
    {
        cssClass = "bg-success";
        change = "+" + lastChange;
    }
    else if (lastChange < 0)
    {
        cssClass = "bg-danger";
    }

    var tickerDivId = "TickerDiv" + modelSymbol;
    var priceH4Id = "PriceH4" + modelSymbol;
    var changePId = "ChangeP" + modelSymbol;
}

<div id="@tickerDivId" class="card text-white mb-3 @cssClass" style="max-width: 20rem;">
    <div class="card-header">@modelSymbol</div>
    <div class="card-body">
        <h4 id="@priceH4Id" class="card-title">$@MiniTickerPartialViewModel.Prices[modelSymbol]</h4>
        <p id="@changePId" class="card-text">@change</p>
    </div>
</div>