@model TickerViewModel

<div class="container-fluid">

    <div class="row">

        <div class="col-9" id="GraphDiv" style="position: relative;">

            <canvas id="Chart"></canvas>

        </div>

        <div class="col-3">

            <div class="card text-white mb-3 text-center bg-primary">
                <div class="card-body">
                    <h1 id="TickerPriceH1">$@Model.Price</h1>
                </div>
            </div>

            <div class="card text-white mb-3 text-center @Model.TickerChangeDivCssCLass" id="TickerChangeDiv">
                <div class="card-body">
                    <h1 id="TickerChangeH1">@Model.Change</h1>
                </div>
            </div>
            
            <div class="card text-white mb-3 text-center @Model.StatusDivCssClass" id="StatusDiv" style="height: auto">

                <h1>
                    <div>Q<span id="QuarterSpan">@TickerViewModel.Quarter.ToString()</span></div>  
                    <div>Day <span id="DaySpan">@TickerViewModel.Day.ToString()</span></div>
                    <div>Market <span id="StatusSpan">@TickerViewModel.MarketStatus</span></div>
                </h1>
            </div>

        </div>

    </div>

    <div class="col-12">
        <h2 id="NewsH2">@TickerViewModel.News</h2>
    </div>

</div>


<script src="https://js.pusher.com/4.1/pusher.min.js"></script>
<script>

    // ReSharper disable once PossiblyUnassignedProperty
    const channel = (new Pusher('3a92cb578fb0877c47f0',
        {
            cluster: 'us2',
            encrypted: true
// ReSharper disable once PossiblyUnassignedProperty
        })).subscribe('stockimulate');

    channel.bind('update-market',
        function(message) {

            var effect;
            var newPrice;
            
            if (message.day === 0) {
                effect = 0;
                newPrice = message.effects[@Model.TickerId];
            } else {
                effect = message.effects[@Model.TickerId];
                newPrice = parseInt(document.getElementById("TickerPriceH1").innerText.substring(1)) + effect;
                
                if (message.close) {
                    document.getElementById("StatusDiv").className = "card text-white mb-3 text-center bg-danger";
                    document.getElementById("StatusSpan").innerHTML = "CLOSED";
                } else
                    document.getElementById("DaySpan").innerHTML = (parseInt(document.getElementById("DaySpan").innerHTML) + 1);
            }

            document.getElementById("TickerPriceH1").innerHTML = `$${newPrice}`;

            chart.data.datasets[0].data.push({ x: parseInt(message.day), y: newPrice });
            window.myLine.update();

            if (effect > 0) {
                document.getElementById("TickerChangeDiv").className = "card mb-3 text-center bg-success text-white";
                document.getElementById("TickerChangeH1").innerHTML = `+${effect}`;
            } else {
                document.getElementById("TickerChangeH1").innerHTML = effect;
                if (effect < 0)
                    document.getElementById("TickerChangeDiv").className = "card mb-3 text-center bg-danger text-white";
                else
                    document.getElementById("TickerChangeDiv").className = "card mb-3 text-center bg-warning text-white";
            }

            if (message.news !== "")
                document.getElementById("NewsH2").innerHTML = message.news;
        });

    channel.bind('open-market',
        function() {
            document.getElementById("StatusDiv").className = "card text-white mb-3 text-center bg-success";
            document.getElementById("StatusSpan").innerHTML = "OPEN";
            document.getElementById("DaySpan").innerHTML = (parseInt(document.getElementById("DaySpan").innerHTML) + 1);
            document.getElementById("QuarterSpan").innerHTML =
                (parseInt(document.getElementById("QuarterSpan").innerHTML) + 1);
        });

    var chart = {
        type: 'line',
        data: {
            datasets: [
                {
                    backgroundColor: '#000000',
                    borderColor: '#000000',
                    data: eval(@Model.Data)
                }
            ]
        },
        options: {
            maintainAspectRatio: false,
            elements: {
                line: {
                    tension: 0, // disables bezier curves
                    fill: false
                },
                point: {
                    radius: 0
                }
            },
            legend: {
                display: false
            },
            responsive: true,
            title: {
                display: true,
                text: "@Model.TickerNameAndSymbol"
            },
            tooltips: {
                mode: 'index',
                intersect: false
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [
                    {
                        type: 'linear',
                        display: false,
                        scaleLabel: {
                            display: false
                        },
                        ticks: {
                            min: 0,
                            max: 251
                        }
                    }
                ],
                yAxes: [
                    {
                        type: 'linear',
                        scaleLabel: {
                            display: false
                        },
                        ticks: {
                            min: 0,
                            max: 3000
                        }
                    }
                ]
            }
        }
    };

    window.onload = function() {
// ReSharper disable once PossiblyUnassignedProperty
        window.myLine = new window.Chart(document.getElementById("Chart").getContext("2d"), chart);
    };

</script>